.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav_logo {
  height: 5rem;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-left: 10rem;
}

.link:hover {
  color: #1f1f1f;
}

.dash_main_container {
  border: solid purple 2px;
  display: flex;
  flex-flow: column wrap;
}

.dash_nav_container {
  align-self: center;
  border: solid black 2px;
  margin-top: 5rem;
  margin-left: 4rem;
  height: 10rem;
  padding: 30px;
  width: 50rem;
}

.dash_main_content {
  align-self: center;
  border: solid black 2px;
  margin-top: 5rem;
  margin-left: 4rem;
  height: 10rem;
  width: 70rem;
  padding: 100px;
}